---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles
.site-logo img {
  max-height: 4rem !important;
}

.page__footer {
  padding: 0 !important;

  footer {
    padding: 0 !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
}
